* {
    box-sizing: border-box;
}

h1 {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.center {
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }

button {
    height: min-content, 20%;
    width: min-content, 30%;
}

#thumbnail {
    width: 30%;
  }