* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Permanent Marker';
}

button {
    height: min-content, 20%;
    width: min-content, 30%;
}

.center {
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }

.dropdown,
#meal-name,
#youtube-link,
#favorite-meal,
#scroll-box,
#reroll {
    padding: 2vh;
}

#thumbnail {
    width: 35%;
  }