* {
    box-sizing: border-box;
}

/* Added font family for header */
h1 {
    font-family: 'Permanent Marker';
}

/* Added styling for loading icon */
.icon{
    width: 50%;
    padding-top: 2em;
}

/* Added button styling  */
button {
    height: min-content, 20%;
    width: min-content, 30%;
}

/* Centered web app and added padding for clean styling */
.center {
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }

.dropdown,
#meal-name,
#youtube-link,
#favorite-meal,
#scroll-box,
#reroll {
    padding: 2vh;
}

/* Added size to thumbnail for consistency */
#thumbnail {
    width: 35%;
  }